{% extends 'layout/application.html' %}{% block title %}关&nbsp;于{% endblock %}
{% block main %}
<div class="row">
  <p class="separate"></p>
  <div class="small-12 large-12 columns">
    <div style="float: left; width: 28%">
      <img src="/images/logo.png" alt="" style="width:4rem; height: 4rem; border-radius: 5px;"/>
    </div>
    <div style="float: left; width: 52%">
      <h3>魔淘</h3>
      <span style="color: #a0a0a0; font-size: 0.8rem">版本 v1.1</span>
    </div>
    <div style="float: left; width: 20%; text-align: right">
      <a href="/privacy" style="color: #a0a0a0; font-size: 0.8rem">隐私保护</a>
    </div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <hr/>
      <p>关于我们</p>
      <p>欢迎来到魔淘 - 全球电影动漫周边购物神器</p>
      <p>魔淘致力于汇集全球电影、动漫及游戏衍生品，为众多周边爱好者提供分享，购物及交流平台。在魔淘你可以找到新鲜、独特的周边商品，可以分享自己私藏已久的绝版周边，也可以找到爱好相同的伙伴。我们努力打造成全球衍生品分享、购买的最强品质地标。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>關於我們</p>
      <p>歡迎來到魔淘- 全球電影動漫周邊購物神器</p>
      <p>魔淘致力於匯集全球電影、動漫及遊戲衍生品，為眾多周邊愛好者提供分享，購物及交流平台。在魔淘你可以找到新鮮、獨特的周邊商品，可以分享自己私藏已久的絕版周邊，也可以找到愛好相同的伙伴。我們努力打造成全球衍生品分享、購買的最強品質地標。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>私たちに関しては</p>
      <p>ようこそ魔浚う - 世界映画アニメグッズショッピング神器</p>
      <p>魔浚うに取り組むグローバル映画、アニメやゲームに集まるデリバティブ、数多くの週辺のファンと交流のプラットフォームを提供する共有、ショッピング。魔浚う見つけることができる新鮮な、独特のグッズを共有することができ、自分を所持して久しい絶版週辺も、同じ仲間を見つけることができる趣味。私たちの努力を作って分かち合う世界デリバティブ、購入の最強の品質のランドマーク。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>우리</p>
      <p>오신 것을 환영합니다 마 일다 - 세계 영화 애니메이션 주변 쇼핑 제위</p>
      <p>매직 일다 주력 집중시키다 세계 영화, 애니메이션 및 게임 衍生品, 많은 주변 팬 위해 공유 쇼핑 및 교류 플랫폼.너 지금 마 일다 찾을 수 있을 신선한, 독특한 주변 상품을 공유할 수 자신을 사장 지 이미 절판 주변 것도 찾을 수 취미 같은 파트너.우리 열심히 만 되었다 衍生品 공유, 구매 전 세계 최고의 품질 지표.</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>About us</p>
      <p>Welcome to Moretao!</p>
      <p>Moretao committed to collection the global file, animation and game derivatives. Provide a share, shopping, and communicate platform for customers. You can find fresh, exclusive merchandise, Share your collection that out of print. Also you can find friends who have same interests with you. We strive to be the strongest quality landmark of global derivatives share and purchase.</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>À propos de nous</p>
      <p>Bienvenue aux ADS magiques - animation mondial du film autour du shopping artéfact</p>
      <p>Amoy est engagé à réunir le monde du cinéma, de l'animation et de magie dérivés de jeux, fournir partagée, le shopping et la plate-forme de communication pour de nombreux amateurs environnantes. Amoy dans la magie, vous pouvez trouver des marchandises frais, unique, peuvent partager leur possession depuis longtemps épuisée périmètre, vous pouvez trouver le même partenaire amoureux. Nous nous efforçons de créer un partage des dérivés mondiaux, achetons les plus forts points de repère de qualité.</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>über uns</p>
      <p>Willkommen in Moretao—Das</p>
      <p>ist eines wunderbare Einkaufen-Gerät, das globale Filme, Animation und relevante Produkte enthält.Moretao setzt seine Kraft für Sammlung von weltweiten Filme,Animation und entsprechenden Spiele-Produkte,für Lieferung von Teilungs-,Einkaufs- und Austausch-plattform ein.In Moretao können Sie neue,einzigartige relevante Waren finden,können Sie Ihre lange bewährte vergriffene Auflage teilen,auch können Sie Freunde gleichen Hobby suchen.Wir bestrebt uns,einen hochwertigsten Markstein für globale relevante Waren Teilung und Kaufen zu schaffen.</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>Για μας</p>
      <p>Καλώς ήρθατε στο μαγικό απο   -   παγκόσμια ταινίες, κινούμενα σχέδια γύρω από τα ψώνια τεχνούργημα</p></p>
      <p>μαγικό - δεσμεύεται να συγκεντρώνει την παγκόσμια ταινίες, κινούμενα σχέδια και το παιχνίδι των παραγώγων, για πολλές από τις μοιράζονται εραστές για ψώνια και παρέχει, πλατφόρμα για την ανταλλαγή.- μπορείς να βρεις το μαγικό νέα, μοναδικό εμπόρευμα γύρω από την κατοχή, μπορεί να μοιράζεται τον εαυτό σου πολύ εξαντλημένα γύρω από το ίδιο χόμπι, μπορούν επίσης να βρουν εταίρους.Οι προσπάθειές μας για την παγκόσμια την ανταλλαγή και την αγορά παραγώγων ισχυρότερο ποιότητας ορόσημο.</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>о нас</p>
      <p>Добро пожаловать в магических ADS - Глобальный анимационный фильм вокруг торгового артефакта</p>
      <p>Сямэнь стремится объединить мир волшебных фильмов, анимации и игр производных, обеспечивают общий, магазинам и коммуникационную платформу для многих окружающих энтузиастов. Сямэнь в магии можно найти свежий, уникальный товар, можете поделиться своим владением уже давно из печати периметру, вы можете найти тот же любящего партнера. Мы стремимся создать глобальные производные долю, купить самые сильные ориентиры качества.</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns" id="debug-btn" >
    <div style="color: #666; padding-top: 15px;">
      <p>抱歉我实在是编不下去了，外国友人们将就着看吧 ㄟ( ▔, ▔ )ㄏ</p>
    </div>
  </div>
</div>
<p>&nbsp;</p>
{% endblock %}
{% block scripts %}
<script type="application/javascript">
  window.onload = function(){
    show_return_arrow("/");
  };
  var debug_html_url;

  var is_moretao = navigator.userAgent.indexOf('app/moretao') >= 0;
  if(is_moretao) {
    function connectWebViewJavascriptBridge(callback) {
      if (window.WebViewJavascriptBridge) {
        callback(WebViewJavascriptBridge)
      } else {
        document.addEventListener('WebViewJavascriptBridgeReady', function() {
          callback(WebViewJavascriptBridge)
        }, false)
      }
    }
    connectWebViewJavascriptBridge(function(bridge) {
      bridge.init(function (message, responseCallback) {
        if (!message) {
          debug_html_url = 'http://m.moretao.com/debug/info?token=nouser';
        } else {
          message = JSON.parse(message);
          debug_html_url = 'http://m.moretao.com/debug/info?token=' + message.mt_token;
          var data = {'Javascript Responds': '回调!'};
          responseCallback(data);
        }
      });
    });
  }
    var timeout ;
    var click_num = 0;
    document.getElementById("debug-btn").onclick = function() {
      click_num++;
      if(click_num > 4) {
        if(!debug_html_url){
          debug_html_url = 'http://m.moretao.com/debug/info';
        }
        window.location.href = debug_html_url;
      }
    };


</script>
{% include "layout/wechat.html" %}
{% endblock %}
