{# -*- engine:swig -*- #}
{% extends 'layout/application.html' %}{% block title %}关&nbsp;于{% endblock %}
{% block main %}
<div class="row">
  <p class="separate"></p>
  <div class="small-12 large-12 columns">
    <div style="float: left; width: 28%">
      <img src="/images/logo.png" alt="" style="width:4rem; height: 4rem; border-radius: 5px;"/>
    </div>
    <div style="float: left; width: 72%">
      <h3>隐私保护</h3>
    </div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <hr/>
      <p>隐私权是您的重要权利。向我们提供您的个人信息是基于对我们的信任，相信我们会负责的态度对待您的个人信息。我们认为您提供的信息只能用于帮助我们为您提供更好的服务。因此，我们制定了魔淘网上个人信息保密制度以保护您的个人信息。我们的个人信息保密制度摘要如下：</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>我们收集哪类个人信息？</p>
      <p>通常，您能在匿名的状态下访问我们的网站并获取信息。在我们请求您提供有关信息之前，我们会解释这些信息的用途我们有些站点需要注册才能加入。在通常情况下，这类注册只要求您提供一个电话号码。有时我们也会请您提供更多的信息。我们这样做是为了使我们更好的理解您的需求，以便向您提供有效的服务。我们站点收集的信息包括姓名，地址和电话号码。您有权随时决定不接受来自我们的任何资料。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>保护您的隐私</p>
      <p>我们将采取适当的步骤保护您的隐私。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的个人信息。除非根据法律或政府的强制性规定，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。但是，如果您要求我们提供特定客户支援服务或把一些物品送交给您，我们则需要把您的姓名和地址提供给第三者如运输公司。我们的网站将会提供第三者网站的链接。由于我们不能控制这些网站，所以我们建议您细阅这些第三者网站的个人信息保密制度。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>隐私权原则</p>
      <p>由于您的隐私权对我们而言是相当重要的，因此，公布这份隐私权声明的魔淘网站会根据下列五项 原则管理涉及隐私的信息。</p>
      <p>原则 1</p>
      <p>每当魔淘网需要识别您的身份或与您联络时，会明确的询问所需的资料，即个人资料。一般而言，当您在网站上注册，要求提供特别服务，或是如参加奖金竞赛，便会被询问到这项资料。可能的话，魔淘网会利用一些方法，确认您的个人资料的正确性与时效性。</p>
      <p>原则 2</p>
      <p>魔淘网站及其必要的服务伙伴使用您的个人资料来运作网站和服务，并且会通知您各项新的功能与服务，以及魔淘网和其附属公司的各类产品。魔淘网也会谨慎地挑选来自其他公司的产品或服务资料传送给您，通常是有关于站点本身的服务，但对作业并非必要（次要用途）</p>
      <p>原则 3</p>
      <p>如果魔淘网想要将个人资料用在次要用途上，魔淘会提供您如何拒绝这项服务的说明。您可以依照魔淘网寄给您的资料或促销信件上的说明，终止这些信件的发送。</p>
      <p>原则 4</p>
      <p>魔淘网也许会因法律要求公开个人资料，或者因善意确信这样的作法对于下列各项有其必要性：</p>
      <p>
      1. 符合法律公告或遵守适用于魔淘站点的合法程序；<br />
      2. 保护魔淘网的用户之权利或财产；<br />
      3. 在紧急的情况下，为了保护魔淘及其用户之个人或公众安全。<br />
      </p>
      <p>原则 5</p>
      <p>任何时候如果您认为魔淘没有遵守这些原则时，请利用电子邮件 <a href="mailto:privacy@moretao.com">privacy@moretao.com</a> 通知我们，我们会尽一切努力，请合理适当的范围内立即改善这个问题。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>Cookies 的用途</p>
      <p>淘网站有时会使用 cookies 以便我们知道哪些网站受欢迎，使您在访问我们的网站时得到更好的服务。cookies 不会跟踪个人信息。当您注册我们的网站程式时，魔淘亦会使用cookies。在这种情况下，会存储有用信息，使我们的网站在您再次访问我们的网站时可辨认您的身份。来自魔淘网站的cookies只能被魔淘网站读取。如果您的浏览器被设置为拒绝cookies，您仍然能够访问我们的大多数网站。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>如何更新您已经提供给魔淘的个人信息</p>
      <p>如果您的地址，职务（职称），电话或e_mail地址发生变化，您可以按魔淘网站中公布的联系方式 通知魔淘，以帮助我们保持您的资料的准确性。你也可以通过登陆 {{domain}} (魔淘网用户注册页面的更新会员资料栏)的方式自行更新您的个人信息。</p>
    </div>
    <div class="double-separate grey"></div>
  </div>
  <div class="small-12 large-12 columns">
    <div style="color: #666; padding-top: 15px;">
      <p>魔淘欢迎您对这项保密制度给予评论并提出质疑。我们将致力于保护您的个人信息，尽全力保证这些信息的安全。由于网上技术的发展突飞猛进，我们会随时更新我们的信息保密制度。所有的修订将在此站点公布。请将与本声明有关的所有评论和质疑发往 <a href="mailto:privacy@moretao.com">privacy@moretao.com</a></p>
    </div>
    <div class="double-separate grey"></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="application/javascript">
  window.onload = function(){
    showReturnArrow("/");
    $("#extension-floating-layer").hide();
  }
</script>
{% include "layout/wechat.html" %}
{% endblock %}
