{# -*- engine:swig -*- #}
{% extends 'layout/application.html' %}{% block title %}登&nbsp;录{% endblock %}
{% block main %}
<style>
  #container { background: url("/images/signin-bg.jpg") no-repeat 0 50%; background-size: cover; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    #container { background: url("/images/signin-bg@2x.jpg") no-repeat 0 50%; background-size: cover; }
  }
</style>
<input class="message" type="hidden" value="{{message}}" />
<form id="change-password-form" action="/thirds/password" method="post">
<div>
  <p>&nbsp;</p>
  <div class="image-for-username small-12 large-12 small-centered large-centered columns text-center" style="padding-left: 35%;">
    <img style="float: left; width: 9%; padding-top: 5rem; margin-right: -5px; margin-bottom: -10px" src="/images/paw-left.png"/>
    <img style="float: left; height: 5.4rem;" src="/images/signup-name.png"/>
    <img style="float: left; width: 9%; padding-top: 5rem; margin-left: -5px; margin-bottom: -10px" src="/images/paw-right.png"/>
  </div>
  <div class="image-for-password small-12 large-12 small-centered large-centered columns text-center hide" style="padding-left: 35%; ">
    <img style="float: left; width:48%; height: 5.4rem; padding-left: 15px;" src="/images/signup-pass.png"/>
  </div>
  <input type="hidden" name="oldname" value="{{ nickname }}" style="border-top: none; margin-top: 1px;" />
  <input type="text" name="nickname" value="{{ nickname }}"  placeholder="输入昵称" style="border-top: none; margin-top: 1px;" />
  <input type="password" name="pass" placeholder="输入密码" style="border-top: none; margin-top: 1px;" />
  <input type="password" name="confirm_pass" placeholder="再次输入密码" style="border-top: none; margin-top: 1px;" />
</div>
<p class="separate">&nbsp;</p>
<p class="separate">&nbsp;</p>
<div class="row">
  <div class="small-12 large-12 columns"><div onclick="savePassword();" class="big-btn">保&nbsp;&nbsp;存</div></div>
</div>
</form>
{% endblock %}
{% block scripts %}
{% include "layout/pagejs.html" with {page: 'thirds-password'} only %}
{% include "layout/wechat.html" %}
{% endblock %}
