{# -*- engine:swig -*- #}
{% extends 'layout/application.html' %}{% block title %}我的粉丝{% endblock %}
{% block main %}
{% if fans.items.length === 0 %}
<button style="height:80vh; width:100vw; background:none; color:#ccc;">
  <p>””\\(￣ー￣) (￣ー￣)//””</p>
  <span>还木有淫关注你哟，呵呵</span>
</button>
{% else %}
{% for f in fans.items %}
<div class="single-row normal clear-top-border row">
  <div class="small-1 large-1 columns" style="padding-left: 5px;">
    <div class="favour" style="padding-top: 3px;">
      <ul><li><a href="/users/{{f.id}}"><img src="{{f.icon}}" alt="{{f.nickname}}"></a></li></ul>
    </div>
  </div>
  <div class="small-7 large-7 columns">{{f.nickname}}</div>
  <div class="small-4 large-4 columns text-right">
    {% if current.id === item.id  %}
    {% if followers.ids.indexOf(f.id) > -1 %}
    <a href="javascript:iUnfollowIt('{{ current.id }}', '{{ f.id }}');">
      <div class="big-btn very-thin grey" style="margin-top: 10%"><span class="fa fa-link"></span> 互相关注</div>
    </a>
    {% else %}
    <a href="javascript:iFollowIt('{{ current.id }}', '{{ f.id }}')">
      <div class="big-btn very-thin" style="margin-top: 10%"><span class="fa fa-plus"></span> 关注他</div>
    </a>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
{% block scripts %}
{% include "layout/pagejs.html" with {page: 'user-followers-fans', current:current} only %}
{% include "layout/wechat.html" %}
{% endblock %}
